<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> My Website - About</title>
</head>

<body>
    <h1>Tajaye Fanus</h1>
    <p> I am a currently a student at the University of the West Indies. I aspire to be a cloud engineer/developer. My philosophy is that anyone can become very good at something if they continuously and persistently practice that thing over a period of time.
        I also believe that great things can be achieved when a group of persons pitch brilliant ideas together and arduously work towards them.</p>
</body>

</html>